h2{
    color: rgb(0, 0, 0);
    padding-top: 50px;
    display: inline-block;
}
.b{font-family: roboto;}
img{ border: 3px solid cornsilk;
     border-radius: 50%;
     mar
}
H1{padding-top: 50PX;}
.N{
    display: inline;}
h3{color: chartreuse;}
.f{display: inline-block;}